igor
out
user-config.ini
# Under no circumstance should you want a binary blob in your source tree.
# If your mod depends on other mods and you want them to be in g3man/base,
# each user must fetch those manually.
**/*.win
igor/hash.txt
__pycache__